.pio
.idea
.DS_Store
.vscode
lib/EpdFont/fontsrc
*.generated.h
.vs
build
**/__pycache__/
.sdcard
*.log
/compile_commands.json

/.cache
/lib/mquickjs/*.d
/lib/mquickjs/*.o
/lib/mquickjs/mqjs_compile
/lib/mquickjs/mqjs_stdlib

